<div class="fddcase-right">
    <div class="fddcase-right-bottom">
        <div class="fddcase-home-tit">新建仲裁案件<a href="javaScript:;" class="fddcase-link">批量委托（含执行催收）</a>
            <a href="javaScript:;" class="fddcase-home-tit-r">查看全部<i class="fddcase-ico-arrowr"></i></a>
        </div>
        <div class="fddcase-home-list-a">
            <ul>
                <li>
                    <span>批次名称</span>
                    <p>批次编号(共20个案件)</p>
                </li>
                <li>
                    <span>状态：等待提交委托--{{id | stateName}}</span>
                </li>
                <li>
                    <span>提交人:员工XX</span>
                    <p>创建时间：2017.09.24</p>
                </li>
                <li>
                    <a href="javaScript:;" class="fddcase-link fddcase-link-green">继续提交</a>
                </li>
            </ul>
        </div>
        <div class="fddcase-home-list-a">
            <ul>
                <li>
                    <span>批次名称</span>
                    <p>批次编号(共20个案件)</p>
                </li>
                <li>
                    <span>状态：等待提交委托</span>
                </li>
                <li>
                    <span>提交人:员工XX</span>
                    <p>创建时间：2017.09.24</p>
                </li>
                <li>
                    <a href="javaScript:;" class="fddcase-link fddcase-link-green">继续提交</a>
                </li>
            </ul>
        </div>
        <div class="fddcase-wid">
            <div class="fddcase-home-closed">
                <div class="fddcase-home-closed-tit">
                    <span>待签署文件</span>
                    <a href="javaScript:;"><i class="fddcase-ico-eye"></i><em>查看全部</em><i class="fddcase-ico-arrowr"></i></a>
                </div>
                <div class="fddcase-home-closed-list1 fddcase-home-hei">
                    <ul>
                        <li>
                            <span>批次名称</span>
                            <p>批次编号(共20个案件)</p>
                        </li>
                        <li>
                            <span>《仲裁申请书》、《委托授权书》</span>
                            <p>状态：等待XXX签署</p>
                        </li>
                        <li>
                            <span>发件人：XXX律师</span>
                            <p>发送时间：2017.09.24</p>
                        </li>
                        <li>
                            <a href="javaScript:;" class="fddcase-link fddcase-link-green">查看并签署</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span>批次名称</span>
                            <p>批次编号(共20个案件)</p>
                        </li>
                        <li>
                            <span>《仲裁申请书》、《委托授权书》</span>
                            <p>状态：等待XXX签署</p>
                        </li>
                        <li>
                            <span>发件人：XXX律师</span>
                            <p>发送时间：2017.09.24</p>
                        </li>
                        <li>
                            <a href="javaScript:;" class="fddcase-link fddcase-link-green">查看并签署</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span>批次名称</span>
                            <p>批次编号(共20个案件)</p>
                        </li>
                        <li>
                            <span>《仲裁申请书》、《委托授权书》</span>
                            <p>状态：等待XXX签署</p>
                        </li>
                        <li>
                            <span>发件人：XXX律师</span>
                            <p>发送时间：2017.09.24</p>
                        </li>
                        <li>
                            <a href="javaScript:;" class="fddcase-link fddcase-link-green">查看并签署</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span>批次名称</span>
                            <p>批次编号(共20个案件)</p>
                        </li>
                        <li>
                            <span>《仲裁申请书》、《委托授权书》</span>
                            <p>状态：等待XXX签署</p>
                        </li>
                        <li>
                            <span>发件人：XXX律师</span>
                            <p>发送时间：2017.09.24</p>
                        </li>
                        <li>
                            <a href="javaScript:;" class="fddcase-link fddcase-link-green">查看并签署</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span>批次名称</span>
                            <p>批次编号(共20个案件)</p>
                        </li>
                        <li>
                            <span>《仲裁申请书》、《委托授权书》</span>
                            <p>状态：等待XXX签署</p>
                        </li>
                        <li>
                            <span>发件人：XXX律师</span>
                            <p>发送时间：2017.09.24</p>
                        </li>
                        <li>
                            <a href="javaScript:;" class="fddcase-link fddcase-link-green">查看并签署</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span>批次名称</span>
                            <p>批次编号(共20个案件)</p>
                        </li>
                        <li>
                            <span>《仲裁申请书》、《委托授权书》</span>
                            <p>状态：等待XXX签署</p>
                        </li>
                        <li>
                            <span>发件人：XXX律师</span>
                            <p>发送时间：2017.09.24</p>
                        </li>
                        <li>
                            <a href="javaScript:;" class="fddcase-link fddcase-link-green">查看并签署</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span>批次名称</span>
                            <p>批次编号(共20个案件)</p>
                        </li>
                        <li>
                            <span>《仲裁申请书》、《委托授权书》</span>
                            <p>状态：等待XXX签署</p>
                        </li>
                        <li>
                            <span>发件人：XXX律师</span>
                            <p>发送时间：2017.09.24</p>
                        </li>
                        <li>
                            <a href="javaScript:;" class="fddcase-link fddcase-link-green">查看并签署</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fddcase-home-closed">
                <div class="fddcase-home-closed-tit">
                    <span>待付款</span>
                    <a href="javaScript:;"><i class="fddcase-ico-eye"></i><em>查看全部</em><i class="fddcase-ico-arrowr"></i></a>
                </div>
                <div class="fddcase-home-closed-list1 fddcase-home-hei">
                    <div class="tips">
                        <i></i>
                        <p>暂无数据</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>