<div
  class="fa-input"
  :style="{'width':width+'px'}"
  [ngClass]="{'fa-input__focus':focus,'has-label':label}"
  v-if="type!=='textarea'"
>
  <!-- <div class="fa-input-label" :class="{'float':!focus && !model}">{{label}}</div> -->
  <div class="fa-text-field fa-input-content fa-select-position">
    <div style="margin-left: 3px;"><slot name="left"></slot></div>
    <input
      [(type)]="type"
      class="fa-text-field-input"
      [(maxlength)]="maxlength"
      [(placeholder)]="placeholder"
      [(ngModel)]="value"
      (focus)="focues()"
      (blur)="blurs()"
      (change)="handleChange()"
      (click)="handleClick()"
      [(disabled)]="disabled"
    />
    <div style="margin-right: 3px;"><slot name="right"></slot></div>
    <div class="fa-input-help" *ngIf="type!=='number' && maxlength>0">
      <div></div>
      <div>{{value.length}} / {{maxlength}}</div>
    </div>
  </div>
</div>
