<div
  class="fa-input"
  :style="{'width':width+'px'}"
  [ngClass]="{'fa-input__focus':focus,'has-label':label}"
  *ngIf="typeText!=='textarea'"
>
  <div
    class="fa-text-field fa-input-content fa-select-position fa-input-border"
    [ngClass]="{'cur':focus}"
  >
    <div style="margin-left: 3px;"><slot name="left"></slot></div>
    <input
      [(type)]="typeText"
      class="fa-text-field-input"
      [(maxlength)]="maxlength"
      [(placeholder)]="placeholder"
      [(ngModel)]="value"
      (focus)="focues()"
      (blur)="blurs()"
      (change)="handleChange()"
      (click)="handleClick()"
      [(disabled)]="disabled"
    />
    <div style="margin-right: 3px;"><slot name="right"></slot></div>
    <div class="fa-input-help" *ngIf="typeText!='number' && maxlength>0">
      <div></div>
      <div>{{value.length}} / {{maxlength}}</div>
    </div>
  </div>
</div>
