<!-- left -->
<div class="fddcase-left">
  <div class="fddcase-left-logo">
      <a href="javaScript:;">
          <img src="./../images/logo.png" alt="案件管理平台">案件管理平台
      </a>
  </div>
  <div class="fddcase-left-menu">
      <a  [routerLink]="['/main/enterprise']" class="hover">
          <i class="fddcase-ico-home"></i>
          <span>我的主页</span>
      </a>
      <a href="javaScript:;">
          <i class="fddcase-ico-list"></i>
          <span>案件列表</span>
      </a>
      <a href="javaScript:;">
          <i class="fddcase-ico-menu"></i>
          <span>员工管理</span>
      </a>
  </div>
</div>
<!-- right头部 -->
<div class="fddcase-right-top">
  <div class="fddcase-right-top-sevser">
      <div class="fddcase-form">
      <i class="fddcase-ico-glass"></i>
      <input type="text" placeholder="搜索">
      </div>
  </div>
  <div class="fddcase-right-top-news">
      <a href="javaScaript" class="fddsase-right-news"><i class="fddcase-ico-news"></i><em></em></a>
      <div class="fddcase-right-selcet fddcase-select">Mei Lawyer<i class="fddcase-ico-arrowt"></i>
          <div class="fddcase-select-pop">
              <a href="javaScaript">修改密码</a>
              <a href="javaScaript">退出登录</a>
          </div>
      </div>
      <a href="javaScaript:;" class="fddsase-right-avatar">
          <img src="" alt="">
      </a>
  </div>
</div>
<router-outlet></router-outlet>